doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width= , initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")

        title Add User
    body 
    h1 Welcome to User Management System
    p A simple CRUD application built with Node.js, Express, and Pug.
    nav
      a(href="/users") View Users
      a(href="/users/add") Add User

    br
    h2 Add a User 
    form(action = "/users/add" method = "POST")
        div
            input(type="text" id="name" placeholder="Full Name" name="name" required)
        div
            button(type="submit") ADD