doctype doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/style.css")

        title Edit User
    body 
    h1 Welcome to User Management System
    p A simple CRUD application built with Node.js, Express, and Pug.
    nav
      a(href="/users") View Users
      a(href="/users/add") Add User
    
    br
    
    h2 Edit User
    form(action = `/users/edit/${user.id}` method = "POST")
        div
            input(type="text" id="name" placeholder="Full Name" name="name" value=user.name required)
        div
            button(type="submit") EDIT